
/* Navbar */
header {
  height: 5rem;
  background-color: #FFF7ED;
  display: flex;
  justify-content: space-between;
  padding: 0 1.625rem;
  font-family: Inter, sans-serif;
  padding-block: 10px;
}


header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  text-decoration: underline;
  color: #161616;
}



.nav-title {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 1.625rem;
  margin-right: auto;
  color: black;
}


a.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

/* Footer */
.footer {
  margin-top: auto;
  font-family: Inter, sans-serif;
  background-color: #4D4D4D;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #AAAAAA;
}

/* Home */
.home-container {
  background: linear-gradient(0deg, rgba(0,0,0, 0.46), rgba(0,0,0, 0.46)), url("../public/imgs/image 54.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 1.5rem;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #FF8C38;
  border: none;
  width: 100%;
  margin-top: 1.75rem;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}


/* About */
.about-hero-image {
  width: 100%;
}

.about-page-content {
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;
  color: #161616;
}


.about-page-content > h1 {
  line-height: 2.325rem;
}

.about-page-content > p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.325rem;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  border-radius: 5px;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  margin-bottom: 2.5rem;
}

.about-page-cta h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

.link-button{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

/* Vans */
.filter-btn, .clear-btn {
  font-style: Inter, sans-serif;
  font-weight: 500;
  height: 2.325rem;
  font-size: 1em;
  background-color: #FFEAD0;
  border: none;
  border-radius: .375;
  padding: .325rem .625rem;
  margin-bottom: 40px;
}

.filter-btn, .clear-btn:hover {
  cursor: pointer;
}

.clear-btn {
  background-color: transparent;
  color: #4D4D4D;
  text-decoration-line:underline;
}

.button-container {
  display: flex;
  justify-content: start;
  column-gap: 1.5rem;
}

.vans-page-container {
  margin: 2.5rem 2.5rem;
}

.vans-page-container h1 {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.125rem;
  text-align: left;
}

.vans-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.5rem;
  column-gap: 1.825rem;
}

.vans-page-content img {
  width: 100%;
  border-radius: .325rem;
}

.van-text-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: #161616;

}

.van-text-content span{
  color:#161616;
  font-weight: 600;
  font-size: 1.25rem;
}

.van-text-content span>span {
  display: block;
  color: #161616;
  font-weight: 500;
  font-size: .825rem;
  text-align: right;
  margin-top: -.25rem;
}

.van-tag {
  font-style: Inter, sans-serif;
  width: 3.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  padding: .25em .825em;
  color: #FFEAD0;
}



.van-tag-simple {
  background-color: #E17654; 
}

.van-tag-rugged {
  background-color: #115E59; 
}
.van-tag-luxury {
  background-color: #161616; 
}

.filter-btn:hover, .van-tag:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  cursor: pointer;
  text-decoration-line: underline;
}

.van a {
  text-decoration: none;
}

/* Van Detail*/
.van-detail-container {
  padding: 1.25rem;
  margin-block: 3rem;
}

.van-detail {
  margin: 3rem;
  width: 50%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 3rem;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: .625rem;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}
.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
}

.van-detail .van-tag:hover {
  cursor:default;
}

/* Host */

.navbar a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}